In [10]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [4]:
path ='D:/Kỳ 20211/Đồ án 2/Datasource/'
data = pd.read_csv(path + 'vehicles.csv')
data

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,7301591192,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,...,NaN,sedan,NaN,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:31-0600
426876,7301591187,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,...,NaN,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:29-0600
426877,7301591147,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,...,NaN,hatchback,white,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:17-0600
426878,7301591140,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,...,NaN,sedan,silver,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:11-0600
426879,7301591129,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,...,NaN,coupe,NaN,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:07-0600

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [6]:
for col in data.columns:
    missing_data = data[col].isna().sum()
    missing_percen = missing_data / len(data) * 100
    print(f"Column {col}: has {missing_percen}% missing data")

Column id: has 0.0% missing data
Column url: has 0.0% missing data
Column region: has 0.0% missing data
Column region_url: has 0.0% missing data
Column price: has 0.0% missing data
Column year: has 0.28228073463268366% missing data
Column manufacturer: has 4.133714392803598% missing data
Column model: has 1.2361787856071964% missing data
Column condition: has 40.78523238380809% missing data
Column cylinders: has 41.6224700149925% missing data
Column fuel: has 0.7058189655172414% missing data
Column odometer: has 1.0307346326836582% missing data
Column title_status: has 1.9307533733133435% missing data
Column transmission: has 0.5987631184407797% missing data
Column VIN: has 37.725356071964015% missing data
Column drive: has 30.586347451274364% missing data
Column size: has 71.7674756371814% missing data
Column type: has 21.752717391304348% missing data
Column paint_color: has 30.501077586206897% missing data
Column image_url: has 0.015929535232383808% missing data
Column description: has 0.016398050974512746% missing data
Column county: has 100.0% missing data
Column state: has 0.0% missing data
Column lat: has 1.5341547976011993% missing data
Column long: has 1.5341547976011993% missing data
Column posting_date: has 0.015929535232383808% missing data

### Xóa các cột có nhiều giá trị NULL

In [7]:
data = data.drop(['county','size'], axis = 1)

In [8]:
data.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'type', 'paint_color', 'image_url',
       'description', 'state', 'lat', 'long', 'posting_date'],
      dtype='object')

In [11]:
data['Quantity'] = np.random.randint(1, 10, data.shape[0])
data.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,type,paint_color,image_url,description,state,lat,long,posting_date,Quantity
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN,8
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN,2
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN,7
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN,7
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN,9

### Thêm cột Sales

In [12]:

data['Sales'] = data['Quantity'] * data['price']
data.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,type,paint_color,image_url,description,state,lat,long,posting_date,Quantity,Sales
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN,8,48000
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN,2,23800
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN,7,147000
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN,7,10500
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN,9,44100

### Xóa các hàng mà các cột có giá trị NULL

In [13]:
data.dropna(subset = ["VIN",'drive','type','paint_color','condition','cylinders'], inplace=True)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63355 entries, 32 to 426878
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            63355 non-null  int64
 1   url           63355 non-null  object
 2   region        63355 non-null  object
 3   region_url    63355 non-null  object
 4   price         63355 non-null  int64
 5   year          63355 non-null  float64
 6   manufacturer  61497 non-null  object
 7   model         63150 non-null  object
 8   condition     63355 non-null  object
 9   cylinders     63355 non-null  object
 10  fuel          63355 non-null  object
 11  odometer      63079 non-null  float64
 12  title_status  63355 non-null  object
 13  transmission  63344 non-null  object
 14  VIN           63355 non-null  object
 15  drive         63355 non-null  object
 16  type          63355 non-null  object
 17  paint_color   63355 non-null  object
 18  image_url     63355 non-null  object
 19  description   63355 non-null  object
 20  state         63355 non-null  object
 21  lat           62974 non-null  float64
 22  long          62974 non-null  float64
 23  posting_date  63355 non-null  object
 24  Quantity      63355 non-null  int32
 25  Sales         63355 non-null  int64
dtypes: float64(4), int32(1), int64(3), object(18)
memory usage: 12.8+ MB

### Thêm cột Date

In [15]:
data["Order_date"] = np.random.choice(pd.date_range('2016-01-01', '2021-01-01'), len(data))

### Di chuyển cột

In [16]:
moving_columns = data.pop('Order_date')
data.insert(5,'Order_date',moving_columns)

In [ ]:
data.head(3)

,id,url,region,region_url,price,Order_date,year,manufacturer,model,condition,...,type,paint_color,image_url,description,state,lat,long,posting_date,Quantity,Sales
32,7316343444,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,27990,2019-03-04,2012.0,gmc,sierra 2500 hd extended cab,good,...,pickup,black,https://images.craigslist.org/00V0V_ftJbKrOgdi...,Carvana is the safer way to buy a car During t...,al,32.59,-85.48,2021-05-03T13:41:25-0500,6,167940
33,7316304717,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,34590,2016-02-11,2016.0,chevrolet,silverado 1500 double,good,...,pickup,silver,https://images.craigslist.org/00E0E_iKN07Sh7ou...,Carvana is the safer way to buy a car During t...,al,32.59,-85.48,2021-05-03T12:41:33-0500,5,172950
35,7316257769,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,29990,2017-08-25,2016.0,chevrolet,colorado extended cab,good,...,pickup,red,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,al,32.59,-85.48,2021-05-03T11:31:14-0500,4,119960

### Tách và thêm cột ngày tháng năm từ Order_date

In [17]:
data['Day'] = data['Order_date'].dt.day
data['Month'] = data['Order_date'].dt.month
data['Year'] = data['Order_date'].dt.year

In [18]:
data.head(3)

,id,url,region,region_url,price,Order_date,year,manufacturer,model,condition,...,description,state,lat,long,posting_date,Quantity,Sales,Day,Month,Year
32,7316343444,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,27990,2018-12-15,2012.0,gmc,sierra 2500 hd extended cab,good,...,Carvana is the safer way to buy a car During t...,al,32.59,-85.48,2021-05-03T13:41:25-0500,5,139950,15,12,2018
33,7316304717,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,34590,2016-10-24,2016.0,chevrolet,silverado 1500 double,good,...,Carvana is the safer way to buy a car During t...,al,32.59,-85.48,2021-05-03T12:41:33-0500,2,69180,24,10,2016
35,7316257769,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,29990,2016-12-11,2016.0,chevrolet,colorado extended cab,good,...,Carvana is the safer way to buy a car During t...,al,32.59,-85.48,2021-05-03T11:31:14-0500,2,59980,11,12,2016

### Export to Dim

In [41]:
region = data.iloc[:,2]
region.to_csv("region.csv", index = False)
region

32         auburn
33         auburn
35         auburn
36         auburn
38         auburn
           ...
426860    wyoming
426863    wyoming
426866    wyoming
426874    wyoming
426878    wyoming
Name: region, Length: 63355, dtype: object

In [44]:
region = region.drop_duplicates()
region

32                          auburn
189                     birmingham
1824                        dothan
2154      florence / muscle shoals
2307              gadsden-anniston
                    ...
422078                   milwaukee
425007                 northern WI
425265                   sheboygan
425582                      wausau
426278                     wyoming
Name: region, Length: 398, dtype: object

In [42]:
model = data.iloc[:,8]
model.to_csv("model.csv", index = False)
model

32        sierra 2500 hd extended cab
33              silverado 1500 double
35              colorado extended cab
36               corvette grand sport
38           wrangler unlimited sport
                     ...
426860          qx80 sport utility 4d
426863       Genesis G80 3.8 Sedan 4D
426866          qx80 sport utility 4d
426874                gs 350 sedan 4d
426878                es 350 sedan 4d
Name: model, Length: 63355, dtype: object

In [46]:
model = model.drop_duplicates()
model

32        sierra 2500 hd extended cab
33              silverado 1500 double
35              colorado extended cab
36               corvette grand sport
38           wrangler unlimited sport
                     ...
426473                    avenger, se
426632                    tucson, gls
426656                      f150, xlt
426660                 f150, platinum
426661                     cruze, 2lt
Name: model, Length: 7359, dtype: object